<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>
<body>
    <div>
        <header>
            <nav class="nav">
                <a class="brand" href="/" data-link>GeoFinder</a>
            </nav>
        </header>
        <div class="row">
            <div class="col-2">
                <nav class="tabs is-full">
                    <a href="/find-by-ip" data-link>Find by IP</a>
                </nav>
                <nav class="tabs is-full">
                    <a href="/find-by-city" data-link>Find by city</a>
                </nav>
            </div>
            <div class="col-10 container" id="app">
                <!--  -->
            </div>
        </div>
    </div>
    <script type="module" src="/js/index.js"></script>
</body>
</html>