<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <span>Menu</span>
                <div class="col">
                    <a class="button clear">Find by IP</a>
                </div>
                <div class="col">
                    <a class="button clear">Find by city</a>
                </div>
            </div>
            <div class="col-8">
                <div id="render-body">
                    <!-- route components render here -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>